/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
.full-width-input {
    width:70%;
}
.loginButton{
    width: 50%;
}
.loginContainer{

text-align: center;
}
.loginContainer a {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}