<div class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span>My Fashion EventApp Landing Page</span> -->

      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="/login">Log In</button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Signup
      </button> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <div class="background-sky hero"></div>
  <section id="intro"> -->
  <mat-grid-list
    cols="2"
    rowHeight="2:1.5"
    style="background: #673ab7; color: #fff"
  >
    <mat-grid-tile
      ><img
        src="../../../assets/hero-img.png"
        style="width: 100%; max-width: 400px; height: auto"
    /></mat-grid-tile>
    <mat-grid-tile>
      <div class="hero-headline partsection" style="padding: 32px 128px 32px 32px;
      color: #000;
      background: #FFF;
      border-radius: 3px;">
        <h1> FashionApp</h1>
        <h3>Your AI Complient Fashion Assistance</h3>
        <span>Find you daily upto date fashion ideas here...</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <section>
    <div class="paragraph">
      <div class="para-title">
        <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit"
            >Tailor-made &amp; a variety of programmes for you to choose</span
          ></span
        >
      </div>
      <div class="para-text">
        <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit"
            >The plan is organized for different groups of people, various
            equipment and stage goals, and is suitable for the most extensive
            scenarios.
          </span>
        </span>
      </div>
    </div>
  </section>
  <section>
    <div style="text-align: center;background: #673ab7; color: #fff;padding: 36px;">
      <h1> This Month’s Popular MVPs</h1>
      <mat-grid-list
        cols="3"
        rowHeight="2:3"
      >
        <mat-grid-tile  
          ><mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://picsum.photos/id/1062/5092/3395"
              alt="Photo of a Women"
            />
            <mat-card-content>
              <p>
                Duis ut
                mauris tempus, sodales nisi sit amet, tempus quam. Aliquam
                cursus placerat lacus, in auctor diam commodo vitae. Donec a
                lectus tempor, pulvinar diam ac, gravida nunc. Aliquam et risus
                ipsum. Phasellus vitae rhoncus urna. Donec rhoncus ullamcorper
                leo, fermentum dignissim sem dapibus eu. Pellentesque ornare
                varius nulla vitae convallis.  Pellentesque vel erat sem.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent">Read More</button>
            </mat-card-actions>
          </mat-card></mat-grid-tile 
        >
        <mat-grid-tile  
          ><mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://picsum.photos/id/1005/5760/3840"
              alt="Photo of a Men"
            />
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                fringilla erat et est pharetra placerat. Nulla commodo auctor
                quam, blandit tempor nunc pulvinar feugiat. Cras tristique
                accumsan nunc, a faucibus nunc dictum non. Quisque eget volutpat
                risus. Vestibulum sed nisl sed arcu semper sodales.Curabitur dictum egestas erat,
                quis pulvinar dolor condimentum nec.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent">Read More</button>
            </mat-card-actions>
          </mat-card></mat-grid-tile
        >
        <mat-grid-tile  
          ><mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Human Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://picsum.photos/id/1005/5760/3840"
              alt="Photo of a Men"
            />
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                fringilla erat et est pharetra placerat. Nulla commodo auctor
                quam, blandit tempor nunc pulvinar feugiat. Cras tristique
                accumsan nunc, a faucibus nunc dictum non. Quisque eget volutpat
                risus. Vestibulum sed nisl sed arcu semper sodales.Curabitur dictum egestas erat,
                quis pulvinar dolor condimentum nec.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent">Read More</button>
            </mat-card-actions>
          </mat-card></mat-grid-tile
        >
      </mat-grid-list>
    </div>
  </section>
  <mat-toolbar-row>
    <span>Copyright Corporation</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</div>
